/* ====================== */
/* === DEVELOPER NOTE === */
/* ====================== */
/* title: kingui.css; */
/* author: Agil Setiawan; */
/* email: agilsetiawan772@gmail.com; */
/* note: CSS ini digunakan untuk 
		 membuat beberapa komponen
		 web berdasarkan standar
		 author; */
/* ====================== */

html, body {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, ol, p { margin: 0; }

a, button, label {
	cursor: pointer;
	text-align: center;
	transition: 0.5s;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
}

.group {
	width: 100%;
	padding: 15px;
	display: inline-block;
}

.group > div { 
	/*float: left; */
	/*display: inline-block;*/
}

.group .group {
	padding: 0;
}

.border {
	border: 1px solid #333;
}

.send-backward { z-index: 1; }
.send-forward { z-index: 9999; }


/* ==========================
========= ALIGNING ==========
============================= */

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }

.f-left { float: left; }
.f-right { float: right; }
.f-center { margin: 0 auto; }
.f-clear { clear: both; }
.f-clear-l { clear: left; }
.f-clear-r { clear: right; }

/* ==========================
========== SIZING ===========
============================= */

.width5 { width: 5%; }
.width10 { width: 10%; }
.width15 { width: 15%; }
.width20 { width: 20%; }
.width25 { width: 25%; }
.width30 { width: 30%; }
.width35 { width: 35%; }
.width40 { width: 40%; }
.width45 { width: 45%; }
.width50 { width: 50%; }
.width55 { width: 55%; }
.width60 { width: 60%; }
.width65 { width: 65%; }
.width70 { width: 70%; }
.width75 { width: 75%; }
.width80 { width: 80%; }
.width85 { width: 85%; }
.width90 { width: 90%; }
.width95 { width: 95%; }
.width100 { width: 100%; }

/* ==========================
========= TYPOGRAPHY ========
============================= */

.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.text-small { font-size: 50%; }
.text-normal { font-size: unset; }
.text-large { font-size: 150%; }
.text-bold { font-weight: bold; }
.text-underline { text-decoration: underline; }
.text-italic { font-style: italic; }

/* ==========================
========== BUTTONS ==========
============================= */

.btn-group:not(.btn-group-vertical), .btn-group-vertical .btn {
	display: flex;
}

.btn-group-vertical {
	/*display: inline-block;*/
	display: block;
}

.btn {
	background: #ddd;
	border: medium none;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 10pt;
	min-width: 100px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: capitalize;
}

.btn-small { font-size: 8pt; padding: 5px 10px; min-width: 80px; }
.btn-medium { font-size: 10pt; padding: 10px 15px; min-width: 100px; }
.btn-large { font-size: 14pt; padding: 20px 25px; min-width: 130px; }
.btn-x-large { font-size: 17pt; padding: 20px 25px; min-width: 160px; }

.btn-link, .btn.btn-bordered { background: none; }
.btn-link { text-decoration: underline; }
.btn-rounded { border-radius: 4.5px; }
.btn-bordered { border: 2px solid rgba(0, 0, 0, 0.3); }
.btn-press { box-shadow: 0 4px #999; }

.btn-arrow span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn-arrow span:before, .btn-arrow span:after {
	opacity: 0;
}

.btn-arrow.arrow-left span:after, 
.btn-arrow.arrow-right span:after { 
	position: absolute;
	top: 0;
}

.btn-arrow.arrow-left span:after { 
	content: '\00ab';
	left: -20px; 
}

.btn-arrow.arrow-right span:after { 
	content: '\00bb';
	right: -20px; 
}

.btn-press:active {
	box-shadow: 0 0 #666;
	transform: translateY(4px);
}

.btn-link-red { color: #e50000; }
.btn-link-green { color: #0abf44; }
.btn-link-blue { color: #0099c0; }

.btn-red, .btn-green, .btn-blue, .btn-orange, .btn-black, .btn-pink { color: #fafafa; }
.btn-red { background: #e50000; }
.btn-green { background: #0abf44; }
.btn-blue { background: #0099c0; }
.btn-orange { background: #ff5a00; }
.btn-black { background: #333333; }
.btn-pink { background: #f10066; }
.active[class*="-border"] { opacity: 0.7; }

.btn-link:hover { color: #0099c0; }
.btn:hover:not(.active) { opacity: 0.7; }
.btn-bordered-red:hover { border-color: #e50000; }
.btn-bordered-green:hover { border-color: #0abf44; }
.btn-bordered-blue:hover { border-color: #0099c0; }
.btn-bordered-orange:hover { border-color: #ff5a00; }
.btn-bordered-pink:hover { border-color: #f10066; }
.btn-shadow:hover { box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.btn-arrow.arrow-left:hover span { padding-left: 25px; }
.btn-arrow.arrow-right:hover span { padding-right: 25px; }
.btn-arrow.arrow-left:hover span:after { opacity: 1; left: 0; }
.btn-arrow.arrow-right:hover span:after { opacity: 1; right: 0; }

.top-border { border-top: 2px solid #333; }
.bottom-border { border-bottom: 2px solid #333; }
.right-border { border-right: 2px solid #333; }
.bg-dark { background: #333; }

/* ==========================
=========== FORMS ===========
============================= */

.field {
  background: #fafafa;
  border: medium none;
  padding: 10px 15px;
}

.field-bordered { box-shadow: 0 0 0 2px inset; }
.field-bordered-red { box-shadow: 0 0 0 2px #e50000 inset; }
.field-bordered-green { box-shadow: 0 0 0 2px #0abf44 inset; }
.field-bordered-blue { box-shadow: 0 0 0 2px #0099c0 inset; }
.field-bordered-orange { box-shadow: 0 0 0 2px #ff5a00 inset; }
.field-bordered-pink { box-shadow: 0 0 0 2px #f10066 inset; }
.field-focus-red:focus { box-shadow: 0 0 0 2px #e50000 inset; }
.field-focus-green:focus { box-shadow: 0 0 0 2px #0abf44 inset; }
.field-focus-blue:focus { box-shadow: 0 0 0 2px #0099c0 inset; }
.field-focus-orange:focus { box-shadow: 0 0 0 2px #ff5a00 inset; }
.field-focus-pink:focus { box-shadow: 0 0 0 2px #f10066 inset; }


/* ==========================
======== PAGINATION =========
============================= */

.pagination, .pagination a {
	display: inline-block;
}

.pagination a {
	min-width: 40px;
	padding: 8px 10px;
	float: left;
	text-decoration: none;
}

.pagination.pgn-bordered a {
	border: 1px solid #b1b1b1;
	color: #333;
}

.pagination.pgn-rounded a:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.pagination.pgn-rounded a:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.pagination.pgn-colorize a { border: none; color: #fafafa; }
.pagination.pgn-pink a { background: #f10066; }
.pagination.pgn-green a { background: #0abf44; }
.pagination.pgn-blue a { background: #0099c0; }
.pagination.pgn-orange a { background: #ff5a00; }

.pagination a.active, .pagination a:hover {
	background: #b1b1b1;
	color: #fafafa;
}

.pagination.pgn-colorize a.active, .pagination.pgn-colorize a:hover {
	background: #333;
}

/* ==========================
======== BREADCRUMB =========
============================= */

.breadcrumb {
	background: #f0f0f0;
	display: inline-block;
	list-style: none;
	padding: 10px 15px;
}

.breadcrumb.bcr-rounded {
	border-radius: 5px;
}

.breadcrumb li {
	display: inline;
	float: left;
	margin: 0 5px;
	text-transform: capitalize;
}

.breadcrumb li+li:before {
	content: "/\00a0";
	color: #999;
	margin-right: 5px; 
}

.breadcrumb li a:hover {
	color: #333;
}


/* ==========================
=========== TABS ============
============================= */

/* RADIO BUTTON BASED */

.tabs {
	position: relative;
	display: flex;
	width: 100%;
}

.tabs:not(:first-child) {
	margin-top: 250px;
}

.tabs input, .tabs section {
	display: none;
	height: 200px;
	left: 0;
	position: absolute;
	top: 37px;
	width: 100%;
}

.tabs section { 
	border-left: 1px solid #333; 
	border-right: 1px solid #333; 
	border-bottom: 1px solid #333; 
	padding: 20px;
	background: #fff;
	color: #333;
	text-align: justify;
	overflow-y: scroll;
}

.tabs label, .tabs-nav, .tabs-nav a {
	width: 100%;
}

.tabs label {
	color: #fafafa;
	display: inline-block;
}

#tab-1:checked ~ #content-1,
#tab-2:checked ~ #content-2,
#tab-3:checked ~ #content-3,
#tab-4:checked ~ #content-4,
#tab-5:checked ~ #content-5,
#tab-6:checked ~ #content-6,
#tab-7:checked ~ #content-7,
#tab-8:checked ~ #content-8,
.tabs-content section:target {
	display: block;
}

.tabs [id^="tab-"]:checked + label {
	opacity: 0.8;
	box-shadow: inset 0 5px #333;
}

.tabs section * {
	-webkit-animation: fadeIn 0.9s ease-in-out;
	-moz-animation: fadeIn 0.9s ease-in-out;
	animation: fadeIn 0.9s ease-in-out;
}

/*Content Animation*/
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


/* ==========================
======== CLEARFIX ===========
============================= */

.no-gap { 
	margin: 0; 
	padding: 0; 
}

.clear-padding { 
	padding: 0; 
}

.clear-margin { 
	margin: 0; 
}