/* ====================== */
/* === DEVELOPER NOTE === */
/* ====================== */
/* author: Agil Setiawan; */
/* email: agilsetiawan772@gmail.com; */
/* note: CSS ini digunakan untuk 
		 situs web albumku.gallery; */
/* ====================== */

@import url(kingui.css);

@font-face {
  font-family: PoiretOne1;
  src: url(../fonts/PoiretOne-Regular.ttf);
}

* {
  font-family: PoiretOne, 'Century Gothic', Tahoma;
}

/* ====================== */
/* ==== LANDING PAGE ==== */
/* ====================== */

#landingPage {
	background:  linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.35)
	    ), url(../img/bg.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	padding: 15px;
	position: relative;
}

#landingPage, .menu a {
	color: #fafafa;
}

.header, .title-page {
  display: inline-block;
  width: 100%;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.title-page {
  position: absolute;
  bottom: 60px;
  padding: 20px 0;
  left: 0;
  text-align: center;
}

.title-page > * {
  padding: 10px 0;
}

.title-page h1 {
  font-weight: 700;
}

.header > div {
  float: left;
}

.logo {
}

.menu {
}

.menu a {
  /*padding: 10px;*/
  /*display: flex;*/
}

.field.srch {
  /*float: left;*/
}

.title-page h1 {
  font-size: 25pt;
}

.title-page p {
  font-size: 16pt;
}


/* ====================== */
/* ======== LOGIN ======= */
/* ====================== */

.form-container {
  /*background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;*/
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  /*border: 6px solid rgba(0, 0, 0, 0.4);*/
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-container input:not(:last-child) {
  margin-bottom: 10px;
}

.form-container.form.login input:nth-child(5){
  margin: 0;
} 

.form.signup span {
  color: #555;
  font-size: small;
}

/* ====================== */
/* ====== DISCOVER ====== */
/* ====================== */

.top.group {
  background: #333 none repeat scroll 0 0;
  box-shadow: 0 0 3px;
  position: fixed;
}

.bottom.group {
  /*background: aquamarine none repeat scroll 0 0;*/
}

.topsbl-padd {
  padding: 36px;
}

/* ====================== */
/* ======= GALLERY ====== */
/* ====================== */

.gallery {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  /*margin: -2.5px;*/
}

.detail {
  background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
  bottom: 5px;
  color: #fafafa;
  padding: 10px;
  position: absolute;
  width: 100%;
  opacity: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.gallery .item:hover .detail { display: block; opacity: 1; }

.gallery .desc { font-size: 80%; }
.gallery .desc-content h4 > span { text-decoration: underline; }
.gallery .desc-link { text-align: right; padding-top: 10px; }

.gallery .item:after {
  content: '';
  flex-grow: 999999999;
  min-width: 300px;
  height: 0;
}

.gallery > * {
  position: relative;
  display: block;
  height: 300px;
  /*margin: 2.5px;*/
  flex-grow: 1;
}

.gallery > .item > * > img {
  height: 300px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  padding-bottom: 5px;
  -moz-box-shadow: 0 0 0 5px #fff;
  -webkit-box-shadow: 0 0 0 5px #fff;
  box-shadow: 0 0 0 5px #fff;
}

.gallery.group {
  /*margin: 2.5px;*/
}



/* ====================== */
/* ====== ARTICLE ======= */
/* ====================== */

article {
  min-height: 545px;
}

.article-title {
  display: inline-block;
  padding-bottom: 20px;
}

.author::after, .date::after {
  content: " |";
  opacity: 0.2;
}

.article-content {
  height: 572px;
}

.article-content img {
  width: 100%;
}

.article-desc {
  height: 100%;
  overflow-y: scroll;
  padding: 15px;
}

.article-desc > p {
  line-height: 25pt;
}


/* ====================== */
/* ======= PROFILE ====== */
/* ====================== */

.profile-img img {
  width: 100%;
}

.profile-desc {
  padding: 0 30px;
}

/* ====================== */
/* ======= ALBUMKU ====== */
/* ====================== */

.sidebar {
  padding-right: 20px;
}

#albumku .gallery > * {
  height: 150px;
}

#albumku .gallery > .item > * > img {
  height: 150px;
}

#albumku .gallery .desc-link {
  padding-top: 5px;
  text-align: center;
}


.btn-grey-blue:hover, .btn.active { background: #0099c0; color: white; }


/* ====================== */
/* ======= FOOTER ======= */
/* ====================== */

.copyright.group {
  background: #333 none repeat scroll 0 0;
  color: #fafafa;
  display: inline-block;
  text-align: center;
}

/* ====================== */
/* ======== MISC ======== */
/* ====================== */

header, article, aside, footer {
	margin: 0 -15px;
}

ul, ol { 
	display: inline-block; 
	padding: 0; 
	list-style: none; 
}

li {
	float: left;
}

/* ====================== */
/* ===== RESPONSIVE ===== */
/* ====================== */

@media only screen and (max-width: 320px) {
  
  [class*="width"] {
    width: 100%;
  }

}